<!-- "Forked" version of Garuda's theme for GitHub Pages (http://idered.github.com/Garuda) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <title>HotEngine | Hot swapping Rails engines!</title>
    <meta name="description" content="Hot swapping Rails engines" />

    <link rel="stylesheet" href="ui/style.css">

    <%= csrf_meta_tags %>
    <%= render :partial => "style" %>
  </head>
  <body>

    <div class="main wrapper">

      <header class="page-head">
        <h1 class="site-name"><a href="#">HotEngine</a></h1>
        <h2 class="site-tagline">Hot swapping Rails engines!</h2>
      </header>

      <%= yield %>

    </div>
  </body>
</html>
