<h3>Isolated Engines</h3>

<% @engines.each do |engine| %>
  <% next unless engine.isolated? %>
  <div class="engine">
    <span><%= engine.name %></span>
    <%= link_to(engine.mount_at, engine.mount_at, :target => "_blank") if engine.mount_at %>
    <% if engine.mount_at %>
      <%= link_to "unmount", unmount_path(:name => engine.name), :class => "button unmount" %>
    <% else %>
      <%= link_to "mount", mount_path(:name => engine.name, :at => engine.name), :class => "button mount" %>
    <% end %>
  </div>
<% end %>
